//colors
$white: #ffffff;
$ihs:  linear-gradient(#CD3033, #E05034, #F16E35);
$text: #E05034;
$ihs-color: #4d4d4d;
$facebook: #4267B2;
$linkedin: #0E76A9;
$twitter: #00ACEE;
$instagram: #cc2366;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;